<html>
  <head>
    <title>Kryptopyan</title>
  </head>
  <body>
    <div>
       
          <table border="0" cellpadding="0" cellspacing="0" width="600px" background-color="#2d3436" bgcolor="#2d3436">
    <tr height="200px">  
        <td bgcolor="" width="600px">
            <h1 style="color: #fff; text-align:center">Cambio de contraseña Exitoso </h1>
             
            <p  style="color: #fff; text-align:center">               
            </span> Para inicia session nuevamente ingrese en el link
             <a style="color: #e84393" href={{link}}>  clic aquí
         </a>               
            </p>
        </td>
    </tr>
    <tr bgcolor="#fff">
        <td style="text-align:center">
            <p style="color: #000">¡Un mundo de servicios a su disposición!</p>
        </td>
    </tr>
</table>  
    </div>
  </body>
</html>